<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
          <h1>ERROR</h1>
          <h3 style="color: red;"> <%= message %> </h3>
          <p><a href="<%= link %>">Try Again</a></p>
        </div>
      </div>
    
    <a href="/register">Try Again</a></p>
</body>
</html>